body{
    font-size: 15px;
    color: blue;
}


// nesting
ul{
    font-size: 16px;
    li{
        list-style: none;
    }
}

// variable ---------------------------------
$primary-color: #555;

div.box{
    background-color: $primary-color;
}

h1.page-header{
    border: 1px solid $primary-color;
}

// 变量包含另一个变量, 但是注意用到的variable需要事先定义过  
$primary-border: 1px solid $primary-color;

h2.page-header{
    border: $primary-border;
}

// nesting
.nav{
    height: 100px;
    ul{
        margin: 0;
        li{
            padding: 5px;
        }
        a{
            display: block;
            color: #000;
            &:hover{
                background-color: blue;
                color: #000;
            }
        }
    }
}



// nesting property---------------------
.nav{
    border: 1px solid #000{
        left: 0;
        right:0;
    };
}

// mixin 也可包含其他mixin或使用嵌套 -------------------
@mixin alert{
    color: #000;
    a{
        color: pink;
    }
}

.alert-warning{
    @include alert;
}


//mixin 可以传递参数(有点像函数了)
@mixin alert2($text-color, $background){
    color: $text-color;
    background-color: $background;
}

.alert-info{
    @include alert2(#333, green)
}


//@extend, 让一个选择器继承另外选择器的样式, 提高代码复用率
.button{
    padding: 15px;
    width: 200px;
    height: 30px;
}

.button-info{
    @extend .button;
    background-color: yellow;
}


// partials @import, import其他scss文件
// import 一般写在scss文件开头
@import "base";

//  @each

@each $animal in cat, dog, pig{
    .#{$animal}-icon{
        background-image: url('./images/#{$animal}.png');
    }
}
