:root{
    /*定义各种变量*/
    --block1-width: 500px;
    --block1-height: 500px;

    --subBlock-size: 100px;
}

html,body{
    margin:0;
    padding:0;

    width: 100vw;       /*100% viewport width*/
    height: 100vh;      /*100% viewport height*/
}

/*==========================block 1==============================================*/
.block1{
    position: relative;
    /* top: 100px;
    left: 100px; */

    width:  50%;
    height: var(--block1-height);

    background: red;
}

.sub_block1{
    width: var(--subBlock-size);
    height: var(--subBlock-size);
}

.sub_block1:nth-child(1){

    background: yellow;
}

.sub_block1:nth-child(2){
    position: absolute;
    right:10px;
    top: 10px;

    background: lightgreen;
    /* position: absolute; */
}

.sub_block1:nth-child(3){
    position: relative;
    left: 50px;
    top: 50px;

    background: green;
}

/*========================block 2=========================================*/
.block2{
    position: absolute;
    top:0;
    right:0;

    width: 40%;
    height: 500px;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; */

    background: pink;
}

.sub_block2{
    width: var(--subBlock-size);
    height: var(--subBlock-size);
}

.sub_block2:nth-child(1){

    background: green;
}

.sub_block2:nth-child(2){

    position: absolute;     /*选取最近的有定位的祖先元素为位移属性参照物, 不影响后续文档流*/
    left: 30px;
    bottom: 10px;

    background: red;
}

.sub_block2:nth-child(3){
    position: relative;     /*选取由其父级元素的文档流(有定位还是无定位?)决定的原来位置作为位移属性参照物*/
    left: 30px;
    bottom: 10px;

    background: blue;
}

.sub_block2:nth-child(4){   /*position为static的element也参与到其父级元素的文档流*/

    background: yellow;
}


/* =====================block3 position: static===================================== */
.block3{

    width: 500px;
    height: 500px;

    background: black;
}

.sub_block3{
    width: var(--subBlock-size);
    height: var(--subBlock-size);
}

.sub_block3:nth-child(1){           /*选取最近的有定位的祖先元素作为位移属性参照物, 这里就是body了*/
    background: pink;

    position: absolute;
    /* left: 5px;
    top: 5px; */
    right: 0;
    bottom: 0px;
}

.sub_block3:nth-child(2){          /*选取由其父级元素的文档流所决定的原来位置作为位移属性的参照物, 不用管父级元素是否有定位*/
    background: lightblue;

    position: relative;
    top: 30px;
    left: 30px;
}

.sub_block3:nth-child(3){       /*选取最近的有定位的祖先元素作为位移属性参照物, 这里就是body了*/
    background: purple;

    position: absolute;
    left: 30px;
    top:30px;
}

.sub_block3:nth-child(4){
    background: violet;
}