*{
    box-sizing: border-box;
}

html,body{
    padding: 0px;
    margin: 0px;

    width: 100vw;
    height: 100vh;
}

main{       // TODO: why main not fit body?
    height: 100%;       // define main's dimension: 100% of its parent

    display: grid;
    grid-template-columns: 1fr repeat(5, 100px) 1fr;    // 1 + 5 + 1 = 7 rows in total, row index starts from 1
    grid-gap: 50px;
    
    padding: 100px 0px;

    .cards{
        grid-column: 2 / span 3;

        display: grid;
        grid-template-columns: repeat(5, minmax(auto, 80px));
        .card{
            grid-column: 1 / span 3;

            .img_container{
                width: 100%;            // define img_container's dimension: 100% of its parent element
                img{            
                    width: 100%;        // define img's dimension: 100% of its parent element
                }

            }

        }

    }

}